<h1>Edit post page</h1>


<%= form_tag("/posts/#{@post.id}", :method => "put") do %>
  <%= label(:post,:title, "title :") %>
  <%= text_field(:post, :title) %>
  <%= label(:post,:body, "body :") %>
  <%= text_area(:post, :body) %>
  <%= submit_tag("Update") %>
<% end %>
