<h1><%= @post.title %></h1>
<br />
<p><%= @post.body %></p>
<br />

<%= render 'comments/listing_comments' %>

<%= link_to 'Add a comment', new_comment_path(@post) %>

<%= link_to 'Index', posts_path %>
